input[rel='vnd']:-webkit-autofill{
    -webkit-text-fill-color: transparent;
}

input[rel='vnd']:-webkit-autofill:focus{
    -webkit-text-fill-color: inherit;
}

.page-show .page-show-header {background: white; border:1px solid #d9d9d9; padding: 10px; padding-bottom: 0px; border-radius: 7px; position: relative;min-height: 120px; margin-bottom: 20px}
.page-show .page-show-header img{ position: absolute; left: 10px; top: 17%}
.page-show .page-show-header .show-header{padding-left: 120px; margin-bottom:6px}
@media (max-width: 767px) {
    .page-show .page-show-header .show-header{padding-left: 0px; margin-bottom:6px}
}
.page-show .page-show-header .show-title {font-size: 20px;margin-top: 5px;background: rgba(4, 174, 218, 0.29);border-radius: 3px;padding: 3px 10px;; font-weight: 600; position: relative}
.page-show .page-show-header .show-title .title{}
.page-show .page-show-header .show-title .group-button {position: absolute;right: 0;top: 0;height: 100%;font-size: 13px; vertical-align: middle}
.page-show .page-show-header .infor {width: 100%}
.page-show .page-show-header .infor td {border-bottom: 1px solid #d9d9d9; height: 23px}
.page-show .page-show-header .infor.no-border td {border-bottom: 0}
.page-show .page-show-header .infor td:nth-child(2) {text-align: right}

.page-show .page-show-body {padding-top:10px}

.chatbar-messages {
    position: fixed;
}

.messages-list {
    min-width: 287px;
}


input[rel='vnd'] {
    color: transparent;
}

span[rel='mark'] {
    position: absolute;
    top: 7px;
    left: 30px;
    color: #858585
}

.form-group {
    position: relative;
}